<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <section class="flex flex-col md:flex-row md:flex-wrap gap-4 mt-20 mx-2" >
        <div class="w-full md:w-80 rounded-lg bg-lightblue px-8 py-12 flex flex-col gap-5 " >
            <div class=" flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (5).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Order Id:</h2>
                <h2 class="text-lg">a2-eggdcer-w1</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (1).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Name:</h2>
                <h2 class="text-lg">ABCD</h2>
            </div>
            <div class="flex gap-4 font-semibold">
                <div class="w-10 h-10">
                    <img src="./assests/Vector (2).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Address:</h2>
                <h2 class="text-lg">No : A  XXX  St ,
                    YYY ,ZZZ</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (3).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Item:</h2>
                <h2 class="text-lg">Faucet -id21</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (4).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Quantity</h2>
                <h2 class="text-lg">10</h2>
            </div>
            <div class="mx-auto flex items-center">
                <select name="" id="" class="w-44 text-center text-white bg-darkblue h-10 rounded-md">
                    <option  value="" disabled selected>Select Status</option>
                    <option value="">Pending</option>
                    <option value="">Delivered</option>
                    <option value="">Cancelled</option>
                </select>
              
            </div>
        </div>
        <div class="w-full md:w-80 rounded-lg bg-lightblue px-8 py-12 flex flex-col gap-5 " >
            <div class=" flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (5).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Order Id:</h2>
                <h2 class="text-lg">a2-eggdcer-w1</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (1).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Name:</h2>
                <h2 class="text-lg">ABCD</h2>
            </div>
            <div class="flex gap-4 font-semibold">
                <div class="w-10 h-10">
                    <img src="./assests/Vector (2).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Address:</h2>
                <h2 class="text-lg">No : A  XXX  St ,
                    YYY ,ZZZ</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (3).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Item:</h2>
                <h2 class="text-lg">Faucet -id21</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (4).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Quantity</h2>
                <h2 class="text-lg">10</h2>
            </div>
            <div class="mx-auto flex items-center">
                <select name="" id="" class="w-44 text-center text-white bg-darkblue h-10 rounded-md">
                    <option  value="" disabled selected>Select Status</option>
                    <option value="">Pending</option>
                    <option value="">Delivered</option>
                    <option value="">Cancelled</option>
                </select>
              
            </div>
        </div>
        <div class="w-full md:w-80 rounded-lg bg-lightblue px-8 py-12 flex flex-col gap-5 " >
            <div class=" flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (5).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Order Id:</h2>
                <h2 class="text-lg">a2-eggdcer-w1</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (1).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Name:</h2>
                <h2 class="text-lg">ABCD</h2>
            </div>
            <div class="flex gap-4 font-semibold">
                <div class="w-10 h-10">
                    <img src="./assests/Vector (2).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Address:</h2>
                <h2 class="text-lg">No : A  XXX  St ,
                    YYY ,ZZZ</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (3).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Item:</h2>
                <h2 class="text-lg">Faucet -id21</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (4).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Quantity</h2>
                <h2 class="text-lg">10</h2>
            </div>
            <div class="mx-auto flex items-center">
                <select name="" id="" class="w-44 text-center text-white bg-darkblue h-10 rounded-md">
                    <option  value="" disabled selected>Select Status</option>
                    <option value="">Pending</option>
                    <option value="">Delivered</option>
                    <option value="">Cancelled</option>
                </select>
              
            </div>
        </div>
        <div class="w-full md:w-80 rounded-lg bg-lightblue px-8 py-12 flex flex-col gap-5 " >
            <div class=" flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (5).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Order Id:</h2>
                <h2 class="text-lg">a2-eggdcer-w1</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (1).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Name:</h2>
                <h2 class="text-lg">ABCD</h2>
            </div>
            <div class="flex gap-4 font-semibold">
                <div class="w-10 h-10">
                    <img src="./assests/Vector (2).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Address:</h2>
                <h2 class="text-lg">No : A  XXX  St ,
                    YYY ,ZZZ</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (3).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Item:</h2>
                <h2 class="text-lg">Faucet -id21</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (4).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Quantity</h2>
                <h2 class="text-lg">10</h2>
            </div>
            <div class="mx-auto flex items-center">
                <select name="" id="" class="w-44 text-center text-white bg-darkblue h-10 rounded-md">
                    <option  value="" disabled selected>Select Status</option>
                    <option value="">Pending</option>
                    <option value="">Delivered</option>
                    <option value="">Cancelled</option>
                </select>
              
            </div>
        </div>
        <div class="w-full md:w-80 rounded-lg bg-lightblue px-8 py-12 flex flex-col gap-5 " >
            <div class=" flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (5).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Order Id:</h2>
                <h2 class="text-lg">a2-eggdcer-w1</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (1).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Name:</h2>
                <h2 class="text-lg">ABCD</h2>
            </div>
            <div class="flex gap-4 font-semibold">
                <div class="w-10 h-10">
                    <img src="./assests/Vector (2).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Address:</h2>
                <h2 class="text-lg">No : A  XXX  St ,
                    YYY ,ZZZ</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (3).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Item:</h2>
                <h2 class="text-lg">Faucet -id21</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (4).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Quantity</h2>
                <h2 class="text-lg">10</h2>
            </div>
            <div class="mx-auto flex items-center">
                <select name="" id="" class="w-44 text-center text-white bg-darkblue h-10 rounded-md">
                    <option  value="" disabled selected>Select Status</option>
                    <option value="">Pending</option>
                    <option value="">Delivered</option>
                    <option value="">Cancelled</option>
                </select>
              
            </div>
        </div>
        <div class="w-full md:w-80 rounded-lg bg-lightblue px-8 py-12 flex flex-col gap-5 " >
            <div class=" flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (5).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Order Id:</h2>
                <h2 class="text-lg">a2-eggdcer-w1</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (1).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Name:</h2>
                <h2 class="text-lg">ABCD</h2>
            </div>
            <div class="flex gap-4 font-semibold">
                <div class="w-10 h-10">
                    <img src="./assests/Vector (2).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Address:</h2>
                <h2 class="text-lg">No : A  XXX  St ,
                    YYY ,ZZZ</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (3).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Item:</h2>
                <h2 class="text-lg">Faucet -id21</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (4).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Quantity</h2>
                <h2 class="text-lg">10</h2>
            </div>
            <div class="mx-auto flex items-center">
                <select name="" id="" class="w-44 text-center text-white bg-darkblue h-10 rounded-md">
                    <option  value="" disabled selected>Select Status</option>
                    <option value="">Pending</option>
                    <option value="">Delivered</option>
                    <option value="">Cancelled</option>
                </select>
              
            </div>
        </div>
        <div class="w-full md:w-80 rounded-lg bg-lightblue px-8 py-12 flex flex-col gap-5 " >
            <div class=" flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (5).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Order Id:</h2>
                <h2 class="text-lg">a2-eggdcer-w1</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (1).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Name:</h2>
                <h2 class="text-lg">ABCD</h2>
            </div>
            <div class="flex gap-4 font-semibold">
                <div class="w-10 h-10">
                    <img src="./assests/Vector (2).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Address:</h2>
                <h2 class="text-lg">No : A  XXX  St ,
                    YYY ,ZZZ</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (3).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Item:</h2>
                <h2 class="text-lg">Faucet -id21</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (4).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Quantity</h2>
                <h2 class="text-lg">10</h2>
            </div>
            <div class="mx-auto flex items-center">
                <select name="" id="" class="w-44 text-center text-white bg-darkblue h-10 rounded-md">
                    <option  value="" disabled selected>Select Status</option>
                    <option value="">Pending</option>
                    <option value="">Delivered</option>
                    <option value="">Cancelled</option>
                </select>
              
            </div>
        </div>
        <div class="w-full md:w-80 rounded-lg bg-lightblue px-8 py-12 flex flex-col gap-5 " >
            <div class=" flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (5).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Order Id:</h2>
                <h2 class="text-lg">a2-eggdcer-w1</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (1).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Name:</h2>
                <h2 class="text-lg">ABCD</h2>
            </div>
            <div class="flex gap-4 font-semibold">
                <div class="w-10 h-10">
                    <img src="./assests/Vector (2).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Address:</h2>
                <h2 class="text-lg">No : A  XXX  St ,
                    YYY ,ZZZ</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (3).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Item:</h2>
                <h2 class="text-lg">Faucet -id21</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (4).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Quantity</h2>
                <h2 class="text-lg">10</h2>
            </div>
            <div class="mx-auto flex items-center">
                <select name="" id="" class="w-44 text-center text-white bg-darkblue h-10 rounded-md">
                    <option  value="" disabled selected>Select Status</option>
                    <option value="">Pending</option>
                    <option value="">Delivered</option>
                    <option value="">Cancelled</option>
                </select>
              
            </div>
        </div>
        <div class="w-full md:w-80 rounded-lg bg-lightblue px-8 py-12 flex flex-col gap-5 " >
            <div class=" flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (5).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Order Id:</h2>
                <h2 class="text-lg">a2-eggdcer-w1</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (1).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Name:</h2>
                <h2 class="text-lg">ABCD</h2>
            </div>
            <div class="flex gap-4 font-semibold">
                <div class="w-10 h-10">
                    <img src="./assests/Vector (2).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Address:</h2>
                <h2 class="text-lg">No : A  XXX  St ,
                    YYY ,ZZZ</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (3).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Item:</h2>
                <h2 class="text-lg">Faucet -id21</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (4).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Quantity</h2>
                <h2 class="text-lg">10</h2>
            </div>
            <div class="mx-auto flex items-center">
                <select name="" id="" class="w-44 text-center text-white bg-darkblue h-10 rounded-md">
                    <option  value="" disabled selected>Select Status</option>
                    <option value="">Pending</option>
                    <option value="">Delivered</option>
                    <option value="">Cancelled</option>
                </select>
              
            </div>
        </div>
        <div class="w-full md:w-80 rounded-lg bg-lightblue px-8 py-12 flex flex-col gap-5 " >
            <div class=" flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (5).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Order Id:</h2>
                <h2 class="text-lg">a2-eggdcer-w1</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (1).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Name:</h2>
                <h2 class="text-lg">ABCD</h2>
            </div>
            <div class="flex gap-4 font-semibold">
                <div class="w-10 h-10">
                    <img src="./assests/Vector (2).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Address:</h2>
                <h2 class="text-lg">No : A  XXX  St ,
                    YYY ,ZZZ</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (3).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Item:</h2>
                <h2 class="text-lg">Faucet -id21</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (4).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Quantity</h2>
                <h2 class="text-lg">10</h2>
            </div>
            <div class="mx-auto flex items-center">
                <select name="" id="" class="w-44 text-center text-white bg-darkblue h-10 rounded-md">
                    <option  value="" disabled selected>Select Status</option>
                    <option value="">Pending</option>
                    <option value="">Delivered</option>
                    <option value="">Cancelled</option>
                </select>
              
            </div>
        </div>
        <div class="w-full md:w-80 rounded-lg bg-lightblue px-8 py-12 flex flex-col gap-5 " >
            <div class=" flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (5).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Order Id:</h2>
                <h2 class="text-lg">a2-eggdcer-w1</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (1).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Name:</h2>
                <h2 class="text-lg">ABCD</h2>
            </div>
            <div class="flex gap-4 font-semibold">
                <div class="w-10 h-10">
                    <img src="./assests/Vector (2).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Address:</h2>
                <h2 class="text-lg">No : A  XXX  St ,
                    YYY ,ZZZ</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (3).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Item:</h2>
                <h2 class="text-lg">Faucet -id21</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (4).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Quantity</h2>
                <h2 class="text-lg">10</h2>
            </div>
            <div class="mx-auto flex items-center">
                <select name="" id="" class="w-44 text-center text-white bg-darkblue h-10 rounded-md">
                    <option  value="" disabled selected>Select Status</option>
                    <option value="">Pending</option>
                    <option value="">Delivered</option>
                    <option value="">Cancelled</option>
                </select>
              
            </div>
        </div>
        <div class="w-full md:w-80 rounded-lg bg-lightblue px-8 py-12 flex flex-col gap-5 " >
            <div class=" flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (5).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Order Id:</h2>
                <h2 class="text-lg">a2-eggdcer-w1</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (1).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Name:</h2>
                <h2 class="text-lg">ABCD</h2>
            </div>
            <div class="flex gap-4 font-semibold">
                <div class="w-10 h-10">
                    <img src="./assests/Vector (2).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Address:</h2>
                <h2 class="text-lg">No : A  XXX  St ,
                    YYY ,ZZZ</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (3).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Item:</h2>
                <h2 class="text-lg">Faucet -id21</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (4).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Quantity</h2>
                <h2 class="text-lg">10</h2>
            </div>
            <div class="mx-auto flex items-center">
                <select name="" id="" class="w-44 text-center text-white bg-darkblue h-10 rounded-md">
                    <option  value="" disabled selected>Select Status</option>
                    <option value="">Pending</option>
                    <option value="">Delivered</option>
                    <option value="">Cancelled</option>
                </select>
              
            </div>
        </div>
        <div class="w-full md:w-80 rounded-lg bg-lightblue px-8 py-12 flex flex-col gap-5 " >
            <div class=" flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (5).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Order Id:</h2>
                <h2 class="text-lg">a2-eggdcer-w1</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (1).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Name:</h2>
                <h2 class="text-lg">ABCD</h2>
            </div>
            <div class="flex gap-4 font-semibold">
                <div class="w-10 h-10">
                    <img src="./assests/Vector (2).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Address:</h2>
                <h2 class="text-lg">No : A  XXX  St ,
                    YYY ,ZZZ</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (3).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Item:</h2>
                <h2 class="text-lg">Faucet -id21</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (4).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Quantity</h2>
                <h2 class="text-lg">10</h2>
            </div>
            <div class="mx-auto flex items-center">
                <select name="" id="" class="w-44 text-center text-white bg-darkblue h-10 rounded-md">
                    <option  value="" disabled selected>Select Status</option>
                    <option value="">Pending</option>
                    <option value="">Delivered</option>
                    <option value="">Cancelled</option>
                </select>
              
            </div>
        </div>
        <div class="w-full md:w-80 rounded-lg bg-lightblue px-8 py-12 flex flex-col gap-5 " >
            <div class=" flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (5).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Order Id:</h2>
                <h2 class="text-lg">a2-eggdcer-w1</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (1).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Name:</h2>
                <h2 class="text-lg">ABCD</h2>
            </div>
            <div class="flex gap-4 font-semibold">
                <div class="w-10 h-10">
                    <img src="./assests/Vector (2).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Address:</h2>
                <h2 class="text-lg">No : A  XXX  St ,
                    YYY ,ZZZ</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (3).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Item:</h2>
                <h2 class="text-lg">Faucet -id21</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (4).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Quantity</h2>
                <h2 class="text-lg">10</h2>
            </div>
            <div class="mx-auto flex items-center">
                <select name="" id="" class="w-44 text-center text-white bg-darkblue h-10 rounded-md">
                    <option  value="" disabled selected>Select Status</option>
                    <option value="">Pending</option>
                    <option value="">Delivered</option>
                    <option value="">Cancelled</option>
                </select>
              
            </div>
        </div>
        <div class="w-full md:w-80 rounded-lg bg-lightblue px-8 py-12 flex flex-col gap-5 " >
            <div class=" flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (5).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Order Id:</h2>
                <h2 class="text-lg">a2-eggdcer-w1</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (1).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Name:</h2>
                <h2 class="text-lg">ABCD</h2>
            </div>
            <div class="flex gap-4 font-semibold">
                <div class="w-10 h-10">
                    <img src="./assests/Vector (2).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Address:</h2>
                <h2 class="text-lg">No : A  XXX  St ,
                    YYY ,ZZZ</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (3).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Item:</h2>
                <h2 class="text-lg">Faucet -id21</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (4).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Quantity</h2>
                <h2 class="text-lg">10</h2>
            </div>
            <div class="mx-auto flex items-center">
                <select name="" id="" class="w-44 text-center text-white bg-darkblue h-10 rounded-md">
                    <option  value="" disabled selected>Select Status</option>
                    <option value="">Pending</option>
                    <option value="">Delivered</option>
                    <option value="">Cancelled</option>
                </select>
              
            </div>
        </div>
        <div class="w-full md:w-80 rounded-lg bg-lightblue px-8 py-12 flex flex-col gap-5 " >
            <div class=" flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (5).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Order Id:</h2>
                <h2 class="text-lg">a2-eggdcer-w1</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (1).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Name:</h2>
                <h2 class="text-lg">ABCD</h2>
            </div>
            <div class="flex gap-4 font-semibold">
                <div class="w-10 h-10">
                    <img src="./assests/Vector (2).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Address:</h2>
                <h2 class="text-lg">No : A  XXX  St ,
                    YYY ,ZZZ</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (3).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Item:</h2>
                <h2 class="text-lg">Faucet -id21</h2>
            </div>
            <div class="flex items-center gap-4 font-semibold">
                <div class="w-6 h-6">
                    <img src="./assests/Vector (4).svg" alt="product" class="w-full h-full" />
                </div>
                <h2 class="text-lg">Quantity</h2>
                <h2 class="text-lg">10</h2>
            </div>
            <div class="mx-auto flex items-center">
                <select name="" id="" class="w-44 text-center text-white bg-darkblue h-10 rounded-md">
                    <option  value="" disabled selected>Select Status</option>
                    <option value="">Pending</option>
                    <option value="">Delivered</option>
                    <option value="">Cancelled</option>
                </select>
              
            </div>
        </div>
        
        


    </section>
    
</body>
</html>