{% extends 'user_admin/index.html' %}
{% load static %}
{% block title %}User | Category{% endblock title %}
{% block content %}
<section>
    <div class="home-section">
        <img src="{% static 'img/background.png' %}" alt="">
        <div class="home-content">
            <div class="home-title">
                Complete Interiors
            </div>
            <div class="home-subtitle">
                Indulge in Luxury: Discover Your Perfect Fittings Today!
            </div>
        </div>
    </div>
    <br><br><br><br>
    <style>
        .nav-link-create{
            width: 10%;
            margin: 5% 42.7%;
        }
        *{
            text-transform: uppercase;
        }
    </style>
    <a class="nav-link-create" href="/user-admin/create-main-category">Create Main Category</a>
    <h1 class="header-title">Main Category</h1>
    <div class="container">
        <div class="card-container">
            {% for category in main_categories %}
            <div class="card">
                <a class="edit-link" href="{% url 'admin-edit-main-category' category.name %}">Edit</a>
                <a href="{% url 'admin-sub-category' category.name %}">
                    <img src="data:image/jpeg;base64,{{ category.image }}" alt="Image 1">
                    <div class="label">{{category.name}}</div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="image-gallery">
        <h1>Trending Products</h1>
        <div class="gallery">
            {% for product in trending_products %}
            <a href="{% url 'admin-product-detail' product.product_id %}"><img src="data:image/jpeg;base64,{{ product.pro_image }}" alt="Image 1"></a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
