{% extends 'user_admin/index.html' %}
{% load static %}
{% block content %}
<section class="flex flex-col md:flex-row md:flex-wrap gap-4 mt-20 mx-2" >
    <div class="w-full md:w-90 rounded-lg bg-lightblue px-8 py-12 flex flex-col gap-5 " >
        <div class="flex items-center gap-4 font-semibold">
            <div class="w-6 h-6">
                <img src ="{% static 'img/Vector (1).svg' %}" alt="product" class="w-full h-full" />
            </div>
            <h2 class="text-lg">Name : {{ request.name }}</h2>
        </div>
        <div class="flex items-center gap-4 font-semibold">
            <div class="w-6 h-6">
                <img src="{% static 'img/Vector (3).svg' %}" alt="product" class="w-full h-full" />
            </div>
            <h2 class="text-lg">Contact:</h2>
            <h2 class="text-lg">{{ request.contact }}</h2>
        </div>
        <div class="flex items-center gap-4 font-semibold">
            <div class="w-6 h-6">
                <img src="{% static 'img/Vector (5).svg' %}" alt="product" class="w-full h-full" />
            </div>
            {% if request.plumber_visit %}
            <h2 class="text-lg">Need Plumber Visit</h2>
            {% else %}
            <h2 class="text-lg">No Need of Plumber Visit</h2>
            {% endif %}
        </div>
        <div class="flex items-center gap-4 font-semibold">
            <div class="w-6 h-6">
                <img src="{% static 'img/Vector (4).svg' %}" alt="product" class="w-full h-full" />
            </div>
            <h2 class="text-lg">Address : </h2>
            <h2 class="text-lg">{{ request.address }}</h2>
        </div>
        <div class="flex items-center gap-4 font-semibold">
            <div class="w-6 h-6">
                <img src ="{% static 'img/Vector (1).svg' %}" alt="product" class="w-full h-full" />
            </div>
            <h2 class="text-lg">Recieved On : {{ request.recieved_on }}</h2>
        </div>
        <img id="request-product-img" src="data:image/jpeg;base64,{{ request.product_image }}" alt="">
        <style>
            #request-product-img{
                position: absolute;
                width: 500px;
                right: 5%;
            }
        </style>
        <div class="flex items-center gap-4 font-semibold">
            <a href="{% url 'admin-delete-request' request.request_id %}"><button class="w-44 text-center text-white bg-darkblue h-10 rounded-md">Delete Request</button></a>
            <form method="post" style="display: flex;">
                {% csrf_token %}
                <input type="text" name="note" id="note" style="margin-right: 20px;" placeholder="Note" value="{{request.note}}" class="w-200 text-center text-white bg-darkblue h-10 rounded-md">
                <input type="submit" value="Save" class="w-20 text-center text-white bg-darkblue h-10 rounded-md">
            </form>
        </div>
    </div>
</section>

{% endblock %}